@media (max-width: 768px) {
  .text-nav {
    display: none;
  }
  #nav-bar {
    height: auto;
    display: block;
  }
  #nav-bar a:link,
  a:visited {
    display: block;
    padding: 10px;
    border-left: none;
    text-align: left;
  }

  .section-title {
    font-size: 28px;
  }

  .bd-gold-right {
    border-bottom: 1px solid #d6c08d;
    border-right: none;
  }
  .certificate-content {
    justify-content: center;
    align-items: center;
  }

  #footer a:link {
    margin-right: 10px;
  }
}
